{% extends 'base.html' %}
{% load static %}



{% block head %}    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Author: HiBootstrap Theme, Category: IT, Multipurpose, HTML, SASS" />

        <!-- title -->
        <title>Solit - IT Startup HTML Template</title>

        <!-- bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
        <!-- fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}" />
        <!-- envy icon CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/envyicon.min.css' %}" />
        <!-- animate CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
        <!-- magnific popup CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}" />
        <!-- owl-carousel CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
        <!-- meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}" />
        <!-- main style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
        <!-- responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />

        <!-- favicon -->
    </head>
{% endblock head %}




{% block content %}    
        <!-- start page title area-->
        <div class="page-title-area bg-thin">
            <div class="container">
                <div class="page-title-content">
                    <h1>Contact</h1>
                    <ul>
                        <li class="item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="item"><a href="{% url 'index' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="shape">
                <span class="shape1"></span>
                <span class="shape2"></span>
                <span class="shape3"></span>
                <span class="shape4"></span>
            </div>
        </div>
        <!-- end page title area -->
        <section class="contact-section ptb-100 bg-thin">
            <div class="container">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <form action="{% url 'contact_msg' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group"> 
                                        <input type="text" name="name" class="form-control" id="name" required="" data-error="Please enter your name" placeholder="Name" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="number" class="form-control" id="" required="" data-error="Please enter your phone number" placeholder="Phone number" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" id="subject" required="" data-error="Please enter your phone number" placeholder="Subject" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" cols="30" rows="6" required="" data-error="Please enter your message" placeholder="Message..."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-solid">send message</button>
                                    <div id="msgSubmit" class="h5 text-center hidden"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="contact-widget">
                            <div class="info-title">
                                <h5>contact info</h5>
                            </div>
                            <div class="contact-info">
                                <i class="envy envy-pin"></i>
                                <p>{{ info.address }}</p>
                            </div>
                            <div class="contact-info">
                                <i class="envy envy-call"></i>
                                <p>
                                    <a href="tel:+001-548-159-2491">{{ info.number }}</a>
                                </p>
                                <br>
                                {% if info.number2 %}
                                    <p>
                                        <a href="tel:{{ info.number }}">{{ info.number2 }}</a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="contact-info">
                                <i class="envy envy-plane"></i>
                                <p>
                                    <a href="mailTo:{{ info.email }}">{{ info.email }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contact-map">
                            <iframe
                                src="{{ address.address }}"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock content %}

    
    {% block scripts %}    

        <!-- jequery JS -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- bootstrap JS -->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <!-- popper JS -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <!-- magnific popup JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- owl carousel JS -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- meanmenu JS -->
        <script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <!-- form validator -->
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <!-- contact form JS -->
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- ajaxchimp JS -->
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- main JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        

        <script>
            document.querySelector('#contact').classList.add('active')
        </script>
    {% endblock scripts %}
        